/* Work sans font from google fonts*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}
.text-light-gray{
  color: #424242;
}
.btn-primary{
     border-radius: 15px;
     color: #FFF;
     font-size: 15px;
     background: #ff900e;
     padding: 10px 15px;
     cursor: pointer;
     border: 0;
}
/* header styles*/
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 500;
}

nav li a {
  color: #424242;
}

.nav-title {
  font-size: 3rem;
  color: #131313;
  font-weight: 700;
}

.banner-content {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  color:#131313;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}


.banner img{
    width: 100%;
    margin-top: 10px;
}

/* responsive media quaries */



main{
  max-width: 1440px;
  margin: 70px auto;
}

.teams-container{
  display: flex;
  align-items: center;
}
.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-left:220px;
}
.teams-img-container img{
  width: 250px;
}
.teams-content{
  padding-left: 40px;
  padding-right: 40px;
  width: 350px;
}

.teams-title{
  font-size: 45px;
}

.teams-title .quick-list{
  font-weight: 500;
}

.teams-title .text-features{
  color:#ff900e;
  font-weight: 700;
}



@media screen and (max-width: 576px)
{
  header{
    padding: 5px;
  }
  nav,
  .teams-container
  {
    flex-direction: column;
  }
  .teams-img-container{
    grid-template-columns:1fr;
    margin: 0 auto;
  }
  .teams-content{
    padding-left: 20px;
    padding-right: 20px;
  }
  ul{
    padding-right: 30px;
  }
}


@media screen and (min-width:576px) and (max-width:960px) {
  header{
    padding: 50px;
  }
  nav{
    flex-direction: column;
  }
  ul{
    padding-right: 40px;
  }
  .teams-img-container{
    margin-left: 36px;
  }
}


















