/* Work sans font from google fonts*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}
.text-light-gray{
  color: #424242;
}
.btn-primary{
     border-radius: 15px;
     color: #FFF;
     font-size: 15px;
     background: #ff900e;
     padding: 10px 15px;
     cursor: pointer;
     border: 0;
}
/* header styles*/
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 500;
}

nav li a {
  color: #424242;
}

.section-title {
  font-size: 3rem;
  color: #131313;
  font-weight: 700;
}

.banner-content {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  color:#131313;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}


.banner img{
    width: 100%;
    margin-top: 10px;
}

/* responsive media quaries */



main{
  max-width: 1440px;
  margin: 70px auto;
}

.teams-container{
  display: flex;
  align-items: center;
}
.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-left:220px;
}
.teams-img-container img{
  width: 250px;
}
.teams-content{
  padding-left: 40px;
  padding-right: 40px;
  width: 350px;
}

.teams-title{
  font-size: 45px;
}

.teams-title .quick-list{
  font-weight: 500;
}

.teams-title .text-features{
  color:#ff900e;
  font-weight: 700;

}

.features{
  display: flex;
  margin-top: 30px;
  gap: 15px;
  width: 400px;
  margin-left: 200px;
}
.features .section-title{
  border-left: 5px;
}

.feature-content .card{
  padding: 2px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  width: 300px;
}
.feature-image{
  width: 100px;
  margin-top: 30px;
  height: 800px;
}
.facts{
  margin-left: 220px;
  width: 950px;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #ff900e;
    text-align: center;
    padding:15px;
}
.facts-card-container .card-title{
  font-weight: 600;
  font-size: 15px;
  margin-top: 5px;
}
.facts-card-container .card-stats{
  font-size: 20px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sponsors{
  text-align: center;
  width: 950px;
  margin-left: 220px;
}
.sponsors-img-container{
  margin-top: 30px;
  display: flex;
  justify-content:space-between;
}











@media screen and (max-width: 576px)
{
  header{
    padding: 5px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container,
  .features
  {
    flex-direction: column;
  }
  .teams-img-container{
    grid-template-columns:1fr;
    margin: 0 auto;
  }
  .teams-content{
    padding-left: 20px;
    padding-right: 20px;
  }
  ul{
    padding-right: 30px;
  }
  .facts{
    height: 800px;
    width: 400px;
    margin-left: 0 ;
  }
  .section-title,
  .text-light-gray{
    margin-left: 20px;
  }
  .sponsors{
    margin-left: 0px;
    height: 800px;
    width: 400px;
  }
  .section-title{
    text-align: left;
  }
  .sponsors-img-container{
    margin-left: 130px;
    gap:  50px;
    height: 100px;
    width: 150px;
  }
  .features{
    display: flex;
    margin-left: 0;
    grid-template-columns: 1fr;
  }
}


@media screen and (min-width:576px) and (max-width:960px) {
  header{
    padding: 50px;
  }
  nav{
    flex-direction: column;
  }
  ul{
    padding-right: 40px;
  }
  .teams-img-container{
    margin-left: 36px;
  }
  .facts,
  .sponsors{
    margin-left: 36px;
    height: 400px;
    width: 820px;
  }
  .facts-card-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsors-img-container{
    gap: 5px;
    margin-top: 20px;
  }
  .sponsors-img-container img{
    height: 35px;
    width: 70px;
  }
  .features{
    margin-left: 0;
  }
}


















